@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:900');

$font: 'Lato', sans-serif;
$big: 'Montserrat', sans-serif;

$dark: rgb(64, 64, 64);
$blue: #276fbf;



.search-form {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.searsh-input {
  margin-right: 20px;
  height: 48px;
  width: 400px;
  padding-left: 20px;
  font-size: 26px;
  color: $blue;
  border: none;
}

// .btn {
//   display: block;
//   height: 50px;
//   width: 100px;
//   font-size: 16px;
//   background-color: $blue;
//   color: white;
//   border: none;
//   border-radius: 7px;
// }


.stats {
  display: flex;
  justify-content: space-evenly;
color: #ffffff;}

.stats-item {
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
}

.material-icons {
  display: flex;
  justify-content: center;
}

// .load-more-btn {
//   margin: 0 auto;
//   margin-bottom: 40px;
// }

// .is-hidden {
//   display: none;
// }
