@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:900');

$font: 'Lato', sans-serif;
$big: 'Montserrat', sans-serif;

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

  background-color: rgb(128, 128, 128);
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  z-index: 999; // >8=(:)
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 16px;
  background: #555;
}

.content {
  padding-top: 90px;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.searsh-input {
  margin-right: 20px;
  height: 48px;
  width: 400px;
  padding-left: 20px;
  font-size: 26px;
  color: rgb(63, 63, 63);
  border: none;
}

.gallery {
  display: grid;
  width: 1200px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.gallery__item {
  background-color: rgb(116, 116, 116);
  position: relative;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(255, 255, 255, 0.12);
}

.photo-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  padding: 5px;
  margin: 10px;
}

.photo-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.photo-img:hover {
  transform: scale(1.03);
  cursor: zoom-in;
}

.photo__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.stats {
  display: flex;
  // justify-content: space-evenly;
  color: #ffffff;
}

.stats-item {
  text-align: center;
margin: 15px 15px 0;
}

.material-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}


/* Lightbox */

.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation-duration) var(--timing-function);
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}

.lightbox__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.lightbox__content {
  transform: scale(0.95);
  transition: transform var(--animation-duration) var(--timing-function);
}

.lightbox.is-open .lightbox__content {
  transform: scale(1);
}

.lightbox__image {
  display: block;
  width: auto;
  height: auto;
  max-height: 100vh;
  max-width: 100vw;
}

.lightbox__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: background-color var(--animation-duration) var(--timing-function);
  outline: none;
  background-image: url('../images/icon-close.svg');
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.lightbox__button:hover,
.lightbox__button:focus {
  background-color: rgba(0, 0, 0, 0.5);
}
