<div class="delay-indicator is-hidden">
  <div class='loader'>
    <div class='spinner color-1'></div>
    <div class='spinner color-2'></div>
    <div class='spinner color-3'></div>
    <div class='spinner color-4'></div>
    <div class='spinner color-5'></div>
    <div class='spinner color-6'></div>
    <div class='spinner color-7'></div>
    <div class='spinner color-8'></div>
  </div>
</div>